# 정렬

## day 06 / 18870 좌표 압축

In [ ]:
n = int(input())
arr = list(map(int, input().split()))

# 중복 제거한 후 정렬
sorted_arr = sorted(set(arr))

# 각 숫자의 압축된 좌표를 저장하는 딕셔너리 생성
coord_dict = {value: index for index, value in enumerate(sorted_arr)}

# 각 숫자에 대해 압축된 좌표 출력
result = [coord_dict[value] for value in arr]
print(*result)

### enumerate


enumerate는 파이썬에서 제공하는 내장 함수 중 하나로, 순서가 있는(iterable) 자료형(리스트, 튜플, 문자열 등)을 입력으로 받아 인덱스와 해당 요소를 포함하는 enumerate 객체를 반환합니다.

###

### print(*result) 의 * 은 무슨뜻?

*은 파이썬에서 언패킹(Unpacking) 연산자로 사용됩니다. print(*result)에서 *result는 result 리스트(또는 다른 iterable)의 각 요소를 개별적으로 분리하여 print 함수에 전달하는 역할을 합니다.

예를 들어, result가 [1, 2, 3]이라면, print(*result)는 사실상 print(1, 2, 3)과 동일합니다. 이렇게 사용되면 리스트나 튜플 등의 iterable의 각 요소가 개별적인 인자로 전달됩니다.

이를 "언패킹"이라고 부르는 이유는, 리스트나 튜플 등의 iterable을 풀어서(해체하여) 개별적인 값으로 만들어 주기 때문입니다. 이러한 언패킹은 함수 호출이나 다른 상황에서 여러 값들을 분리하여 사용할 때 유용합니다.

###

-----

## 07 day

### 2587 대표값2

In [ ]:
# 5개의 정수를 입력받음
numbers = [int(input()) for _ in range(5)]

# 입력받은 정수를 정렬
numbers.sort()

# 중간값을 출력
print(sum(numbers) // 5)  # 평균값 출력
print(numbers[2])         # 중간값 출력

### 2108 로프

In [ ]:
# 로프의 개수
n = int(input())

# 각 로프의 최대 중량을 입력받아 리스트에 저장
ropes = [int(input()) for _ in range(n)]

# 로프를 정렬하여 오름차순으로 나열
ropes.sort()

# 각 로프를 사용할 때 들 수 있는 중량을 계산하여 최댓값을 찾음
max_weight = 0
for i in range(n):
    weight = ropes[i] * (n - i)
    max_weight = max(max_weight, weight)

print(max_weight)

## 08 day

### 2752 세수정렬

In [ ]:
# 세 수를 입력받습니다.
numbers = list(map(int, input().split()))

# 세 수를 오름차순으로 정렬합니다.
numbers.sort()

# 정렬된 세 수를 출력합니다.
print(numbers[0], numbers[1], numbers[2])

## 10 day

### 25305 커트라인

In [14]:
n, k = map(int, input().split())
x = list(map(int, input().split()))

x.sort(reverse=True)
print(x[k-1])

 5 2
 100 76 85 93 98

98

In [13]:
x

[100, 98, 93, 85, 76]

## 12 day

### 10610 30

In [ ]:
def solve(n):
    # 입력받은 숫자를 문자열로 변환하여 각 자리수를 리스트로 저장
    digits = list(str(n))
    
    # 자리수의 합이 3의 배수이고 0이 하나 이상 포함되어 있는지 확인
    if sum(map(int, digits)) % 3 != 0 or '0' not in digits:
        print(-1)
        return
    
    # 자리수를 내림차순으로 정렬
    digits.sort(reverse=True)
    
    # 정렬된 자리수를 이어붙여서 숫자 생성
    result = int(''.join(digits))
    
    print(result)

# 입력 받기
n = int(input())

# 문제 해결 함수 호출
solve(n)

## 13 day

### 1946 신입 사원

In [8]:
a = '''2
5
3 2
1 4
4 1
2 3
5 5
7
3 6
7 3
4 2
1 4
5 7
2 5
6 1'''

n = a.split('\n')
n

['2',
 '5',
 '3 2',
 '1 4',
 '4 1',
 '2 3',
 '5 5',
 '7',
 '3 6',
 '7 3',
 '4 2',
 '1 4',
 '5 7',
 '2 5',
 '6 1']

In [ ]:
import sys

t = int(sys.stdin.readline().rstrip())  # 테스트 케이스의 수

for _ in range(t):
    n = int(sys.stdin.readline().rstrip())  # 지원자의 수
    applicants = []  # 지원자 정보를 담을 리스트

    for _ in range(n):
        document, interview = map(int, sys.stdin.readline().split())
        applicants.append((document, interview))

    applicants.sort()  # 서류 심사 성적을 기준으로 오름차순 정렬

    # 면접 성적을 비교하며 선발된 지원자의 수 계산
    count = 1
    min_interview = applicants[0][1]
    for i in range(1, n):
        if applicants[i][1] < min_interview:
            count += 1
            min_interview = applicants[i][1]

    print(count)

## 14 day

### 10825 국영수

In [ ]:
# 입력 받기
n = int(input())
students = []

for _ in range(n):
    name, kor, eng, math = input().split()
    students.append((name, int(kor), int(eng), int(math)))

# 정렬 조건에 따라 정렬하기
students.sort(key=lambda x: (-x[1], x[2], -x[3], x[0]))

# 정렬된 결과 출력
for student in students:
    print(student[0])

## 20 day

### 11656 접미사 배열

In [12]:
s = 'baekjoon'
li = []
for i in range(len(s)) :
    li.append(s[i:])
li.sort()
for i in li :
    print(i)

aekjoon
baekjoon
ekjoon
joon
kjoon
n
on
oon

In [9]:
range(len(s))

range(0, 8)

In [12]:
s = input()
li = []
for i in range(len(s)) :
    li.append(s[i:])
li.sort()
for i in li :
    print(i)

aekjoon
baekjoon
ekjoon
joon
kjoon
n
on
oon

## 26 day

### 11004 K번째 수

In [5]:
n, k = map(int, input().split())
A = list(map(int, input().split()))
A.sort()
print(A[k-1])

 5 2
 4 1 2 3 5

2

In [6]:
A

[1, 2, 3, 4, 5]

## 27 day

### 3273 두 수의 합

In [4]:
n = int('9')
a = list(map(int, '5 12 7 10 9 1 2 3 11'.split()))
x = int('13')

a.sort()

count = 0
right = 0
while right == 0 :
    left = (len(a)-right) // 2
    if (a[right]+ a[left]) == x :
        count += 1
        right -= 1
    elif (a[right]+ a[left]) < x :
        left += 1
    elif (a[right]+ a[left]) > x :
        left -= 1

[1, 2, 3, 5, 7, 9, 10, 11, 12]

In [5]:
# 한 쌍이 이루어지면 더이상 그 값은 쓸대가 없구나.

In [ ]:
def find_pair_with_sum(arr, target_sum):
    # 입력 배열을 정렬합니다.
    arr.sort()
    
    # 시작과 끝 인덱스를 초기화합니다.
    start, end = 0, len(arr) - 1
    
    # 합을 찾을 때까지 반복합니다.
    count = 0
    while start < end:
        current_sum = arr[start] + arr[end]
        
        # 합이 목표 합보다 작으면 시작 인덱스를 증가시킵니다.
        if current_sum < target_sum:
            start += 1
        # 합이 목표 합보다 크면 끝 인덱스를 감소시킵니다.
        elif current_sum > target_sum:
            end -= 1
        # 합이 목표 합과 같으면 쌍을 찾았으므로 카운트를 증가시키고 인덱스를 이동합니다.
        else:
            count += 1
            start += 1
            end -= 1
    
    return count

# 입력 받기
n = int(input())
arr = list(map(int, input().split()))
target_sum = int(input())

# 함수 호출하여 결과 출력
result = find_pair_with_sum(arr, target_sum)
print(result)